{% extends 'layout.html' %}

{% block body_block %}
    {% include 'navbar.html' %}
    {% from '_formhelpers.html' import render_field %}
    {% include '_messages.html' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-4">
                    <h2 class="card-header bg-info text-center">Register</h2>
                    <div class="card-body">
                        <form action="" method="POST">
                            {{ form.csrf_token }}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ render_field(form.name, class="form-control mb-3", placeholder="Name") }}
                                    {{ render_field(form.username, class="form-control mb-3", placeholder="Username") }}
                                    {{ render_field(form.email, class="form-control mb-3", placeholder="Email") }}
                                    {{ render_field(form.password, class="form-control mb-3", placeholder="Password") }}
                                    {{ render_field(form.confirm, class="form-control mb-3", placeholder="Confirm Password") }}
                                    {{ form.profile_image(class='btn btn-primary btn-sm mb-3', title="Upload Profile Image") }}
                                </div>
                                <div class="col-md-6">
                                    {{ render_field(form.country, class="form-control mb-3", placeholder="Country") }}
                                    {{ render_field(form.state, class="form-control mb-3", placeholder="State") }}
                                    {{ render_field(form.city, class="form-control mb-3", placeholder="City") }}
                                    {{ render_field(form.contact, class="form-control mb-3", placeholder="Contact") }}
                                    {{ render_field(form.address, class="form-control mb-3", placeholder="Address") }}
                                    {{ form.submit(class='btn btn-success btn-block', value="Register") }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_block %}
