<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body class="bg-light">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="jumbotron text-center">
            <h1 class="display-4">Choose the user type</h1>
            <p class="lead">Select whether you're a customer or an admin.</p>
            <div class="btn-group" role="group" aria-label="User Type Buttons">
                <a href="{{ url_for('login', user_type='customer') }}" class="btn btn-primary btn-lg">Customer</a>
                <a href="{{ url_for('login', user_type='admin') }}" class="btn btn-warning btn-lg">Admin</a>
            </div>
        </div>
    </div>
</body>
</html>
