{% extends 'layout.html' %}

{% block body_block %}
    {% include '_messages.html' %}
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-6">
                {% if entity == 'brand' %}
                    <div class="card">
                        <h1 class="card-header text-center mt-5">Add a Brand</h1>
                        <div class="card-body">
                            <form method="post">
                                <div class="mb-3">
                                    <input type="text" name="name" class="form-control" placeholder="Brand Name">
                                </div>
                                <div class="d-grid">
                                    <input type="submit" value="Add Brand" class="btn btn-primary mt-2">
                                </div>
                            </form>
                        </div>
                    </div>
                {% elif entity == 'category' %}
                    <div class="card">
                        <h1 class="card-header text-center mt-5">Add a Category</h1>
                        <div class="card-body">
                            <form method="post">
                                <div class="mb-3">
                                    <input type="text" name="name" class="form-control" placeholder="Category Name">
                                </div>
                                <div class="d-grid">
                                    <input type="submit" value="Add Category" class="btn btn-primary mt-2">
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body_block %}
