{% extends 'layout.html' %}

{% block body_block %}
    {% include 'navbar.html' %}
    {% include '_messages.html' %}
    <style>
        .product-image {
            display: block;
            max-width: 230px;
            max-height: 150px;
            width: auto;
            height: auto;
            border-radius: 10px;
            border: 2px solid blueviolet;
        }
    </style>

    <div class="container mt-4">
        <h1 class="text-center">Cart</h1>
        <h5 class="mt-2 p-2">Here are the items that you added to Cart, <strong>{{ current_user.username }}</strong></h5>
        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-sm table-striped table-hover table-responsive-md">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>SubTotal</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, product in session['shop_cart'].items() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <a href="{{ url_for('product_details', product_id=key) }}">
                                        <img src="{{ url_for('static', filename='images/'+ product['image']) }}"
                                             alt="Image should be here" class="product-image">
                                    </a>
                                </td>
                                <td>{{ product['name'] }}</td>
                                <td>{{ product['price'] }}</td>
                                <form class="form-group" method="POST" action="{{ url_for('update_cart', code=key) }}">
                                    <td>
                                        <input class="form-control p-2" type="number" name="quantity" min="1"
                                               max="{{ product['stock'] }}" value="{{ product['quantity'] }}">
                                    </td>
                                    <td>{{ product['price'] * product['quantity']|int }}</td>
                                    <td>
                                        <button type="submit" class='btn btn-info btn-sm'>Update</button>
                                    </td>
                                </form>
                                <td>
                                    <a href='{{ url_for("delete_item", item_id=key) }}'
                                       class='btn btn-danger btn-sm'>Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex flex-column align-items-end">
            <h3>Grand Total: Rs {{ session['total_without_tax'] }}</h3>
            <hr>
            <form class="form-group" method="POST" action="{{ url_for('confirm_checkout') }}">
                <button type="submit" class="btn btn-success">Checkout</button>
            </form>
            <hr>
            <a href="{{ url_for('clear_cart') }}" class="btn btn-secondary">Clear Cart</a>
        </div>
    </div>
{% endblock body_block %}
